@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Rubik+Scribble&display=swap');

body {
    font-family: 'Noto Sans Mono', monospace;
    background-color: #f2f2f2;
    margin-left: 5%;
}
h3 {
    font-family: 'Rubik Scribble', system-ui;
    font-size: 24px;
    font-weight: bold;
}
form {
    display: grid;
    grid-template-columns:20% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 10px 10px
}
#label-message {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
#message {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
input {
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    grid-column-start: 2;
}
textarea {
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
a {
    text-decoration: none;
    color: #000;
}
#submit-btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    grid-column-start: 2;
    padding: 20px;
    
}